@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
/* Importa a fonte 'Lato' do Google Fonts */

:root {
  --box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  /* Define uma variável CSS (--box-shadow) para facilitar o reuso do mesmo box-shadow em diferentes elementos */
}

* {
  box-sizing: border-box;
  /* Define que o box-sizing para todos os elementos é border-box, incluindo bordas e paddings no tamanho total */
}

body {
  background-color: #f7f7f7;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  font-family: 'Lato', sans-serif;
  /* Estilos para o corpo do documento, como fundo, alinhamento, fonte */
}

.container {
  margin: 30px auto;
  width: 350px;
  /* Define o posicionamento e a largura de um container centralizado com 30px de margem superior e inferior */
}

h1 {
  letter-spacing: 1px;
  margin: 0;
  color: #2e75cc;
  /* Estilos para os títulos h1, como espaçamento entre letras, cor e margem */
}

h3 {
  border-bottom: 1px solid #bbb;
  padding-bottom: 10px;
  margin: 40px 0 10px;
  /* Estilos para os títulos h3, como uma borda inferior, espaçamento e margem */
}

h4 {
  margin: 0;
  text-transform: uppercase;
  /* Estilos para os títulos h4, como a transformação do texto para letras maiúsculas */
}

.inc-exp-container {
  background-color: #fff;
  box-shadow: var(--box-shadow);
  padding: 20px;
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
  /* Estilos para o container que contém receitas e despesas, como fundo, sombra, espaçamento, alinhamento e margem */
}

.inc-exp-container > div {
  flex: 1;
  text-align: center;
  /* Estilos para cada div dentro do container de receitas e despesas, como flexibilidade e alinhamento de texto */
}

.inc-exp-container > div:first-of-type {
  border-right: 1px solid #dedede;
  /* Estilos para a primeira div (receitas) dentro do container, como uma borda à direita */
}

.money {
  font-size: 20px;
  letter-spacing: 1px;
  margin: 5px 0;
  /* Estilos para elementos com a classe .money, como tamanho da fonte, espaçamento entre letras e margem */
}

.money.plus {
  color:#3dd61b;
  /* Estilos para elementos com a classe .plus, definindo a cor do texto */
}

.money.minus {
  color: #c0392b;
  /* Estilos para elementos com a classe .minus, definindo a cor do texto */
}

label {
  display: inline-block;
  margin: 10px 0;
  /* Estilos para rótulos (labels), como exibição em linha e margem */
}

input[type='text'],
input[type='number'] {
  border: 1px solid #dedede;
  border-radius: 2px;
  display: block;
  font-size: 16px;
  padding: 10px;
  width: 100%;
  /* Estilos para campos de entrada do tipo texto e número, como borda, borda-arredondada, tamanho da fonte, espaçamento e largura */
}

.btn {
  cursor: pointer;
  box-shadow: var(--box-shadow);
  background-color: black;
  color: #fff;
  border: 0;
  display: block;
  font-size: 16px;
  margin: 10px 0 30px;
  padding: 10px;
  width: 100%;
  /* Estilos para botões com a classe .btn, como cursor, sombra, cor de fundo, cor do texto, borda, exibição em bloco, tamanho da fonte, espaçamento e largura */
}

.meu-botao {
  background-color: #3dd61b;
  color: white;
  padding: 10px 20px;
  border: none;
  transition: background-color 0.3s;
  /* Estilos para botões com a classe .meu-botao, definindo a cor de fundo, cor do texto, espaçamento interno, ausência de borda e transição de cor de fundo */
}

.meu-botao:hover {
  background-color: #333;
  /* Estilos para botões com a classe .meu-botao quando o mouse passa por cima, alterando a cor de fundo */
}

.btn:focus,
.delete-btn:focus {
  outline: 0;
  /* Estilos para botões com foco (quando selecionados), removendo a borda padrão do foco */
}

.transactions {
  list-style-type: none;
  padding: 0;
  margin-bottom: 40px;
  /* Estilos para a lista de transações, como remoção de marcadores, espaçamento interno e margem inferior */
}

.transactions li {
  background-color: #fff;
  box-shadow: var(--box-shadow);
  color: #333;
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 10px;
  margin: 10px 0;
  /* Estilos para cada item da lista de transações, como fundo, sombra, cor do texto, alinhamento, posicionamento e espaçamento */
}

.transactions li.plus {
  border-right: 5px solid #2ecc71;
  /* Estilos para os itens da lista de transações com classe .plus, adicionando uma borda à direita de cor verde */
}

.transactions li.minus {
  border-right: 5px solid #c0392b;
  /* Estilos para os itens da lista de transações com classe .minus, adicionando uma borda à direita de cor vermelha */
}

.delete-btn {
  cursor: pointer;
  background-color: #e74c3c;
  border: 0;
  color: #fff;
  font-size: 20px;
  line-height: 20px;
  padding: 2px 5px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-100%, -50%);
  opacity: 0;
  transition: opacity 0.3s ease;
  /* Estilos para o botão de exclusão de transação, como cursor, cor de fundo, cor do texto, tamanho da fonte, espaçamento interno, posicionamento, opacidade e transição de opacidade */
}

.transactions li:hover .delete-btn {
  opacity: 1;
  /* Estilos para o botão de exclusão de transação quando o mouse passa por cima do item da lista, tornando o botão visível (opacidade 1) */
}
