body {
    font-family: Arial, sans-serif;
    background-image: url("finance_background.jpg"); /* Substitua "finance_background.jpg" pelo caminho da imagem financeira */
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    position: relative;
    overflow: hidden;
    width: 100%;
    max-width: 400px;
    padding: 20px;
}

.logo {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.logo-img {
    width: 120px;
    height: 90px;
}

.login-container,
.signup-container {
    padding: 20px;
}

.login-container {
    border-bottom: 1px solid #ccc;
}

form {
    padding: 10px 0;
}

h2 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
    color: #1CB5E0;
}

label {
    font-size: 16px;
    font-weight: bold;
    color: #333;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

button {
    background-color: #1CB5E0;
    color: #fff;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.3s ease-in-out;
}

button:hover {
    background-color: #005B9A;
}

a {
    display: block;
    text-align: center;
    font-size: 14px;
    color: #1CB5E0;
    text-decoration: none;
    margin-top: 10px;
}

.container.signup-mode {
    grid-template-columns: 1fr;
}

.container.signup-mode .signup-container {
    display: block;
    opacity: 1;
}

.container.signup-mode .login-container {
    display: none;
}

.signup-container {
    display: none;
    padding: 20px;
}

.signup-container h2 {
    margin-bottom: 20px;
    color: #1CB5E0;
}

.container.signup-mode .signup-container {
    display: block;
}

button.toggle-button {
    background-color: #1CB5E0;
    color: #fff;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.3s ease-in-out;
    margin-top: 10px;
}

button.toggle-button:hover {
    background-color: #005B9A;
}

@media (max-width: 600px) {
    .container {
        max-width: 90%;
    }
}
