body {
    font-family: Arial, sans-serif;
    margin: 0;
}

.gradient-background {
    background: linear-gradient(to right, #4B5320, #1CB5E0);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    position: relative;
    width: 100%;
    max-width: 800px;
    padding: 20px;
}

.login-container,
.signup-container {
    text-align: center;
}

.logo-img {
    width: 120px;
    height: 90px;
    margin-bottom: 20px;
}

h2 {
    font-size: 24px;
    color: #1CB5E0;
    margin: 0;
}

.label {
    font-size: 16px;
    font-weight: bold;
    color: #333;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.login-button,
.signup-button {
    background-color: #4B5320; /* Verde militar */
    color: #fff;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.3s ease-in-out;
}

.login-button:hover,
.signup-button:hover {
    background-color: #3B3F0A; /* Tom mais escuro de verde militar */
}

.forgot-password-link {
    display: block;
    font-size: 14px;
    color: #1CB5E0;
    text-decoration: none;
    margin-top: 10px;
}

.container.signup-mode {
    grid-template-columns: repeat(2, 1fr);
}

.container.signup-mode .signup-container {
    display: block;
}

.container.signup-mode .login-container {
    display: none;
}

.toggle-button {
    background-color: #1CB5E0;
    color: #fff;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.3s ease-in-out;
    margin-top: 10px;
}

.toggle-button:hover {
    background-color: #005B9A;
}
